@import url(http://weloveiconfonts.com/api/?family=fontawesome);
header, section, footer {
  position: relative;
}

html, body {
  height: auto;
  overflow: auto;
}

html {
  font-family: "Slabo 27px", sans-serif;
  letter-spacing: 0.05em;
  color: #FAFAF8;
}

#main-photo{
    object-fit: cover;
}
.portfolio-div{
    display: flex;
    justify-content: space-between;
}
.game-name{
    font-weight: bold;
}

header {
  text-align: center;
  background: #cc4100 url(http://www.transparenttextures.com/patterns/egg-shell.png) fixed center center;
  border-bottom: solid 5px #993100;
  min-height: 50px;
  min-height: 0;
}

#home{
  text-align: center;
  background: #000000 url(http://www.transparenttextures.com/patterns/binding-light.png) fixed center center;
  border-bottom: solid 5px black;
  min-height: 50px;
  background-attachment: scroll;
}

#about {
  text-align: center;
  background: #ffffe0 url(http://www.transparenttextures.com/patterns/binding-dark.png) fixed center center;
  border-bottom: solid 5px #ffffc7;
  min-height: 50px;
}

#portfolio {
  text-align: center;
  background: #000000 url(http://www.transparenttextures.com/patterns/binding-light.png) fixed center center;
  border-bottom: solid 5px black;
  min-height: 50px;
  background-attachment: scroll;
}

#contact {
  text-align: center;
  background: #ffffe0 url(http://www.transparenttextures.com/patterns/binding-dark.png) fixed center center;
  border-bottom: solid 5px #ffffc7;
  min-height: 50px;
}

footer {
  text-align: center;
  background: #cc4100 url(http://www.transparenttextures.com/patterns/egg-shell.png) fixed center center;
  border-bottom: solid 5px #993100;
  min-height: 50px;
}

section {
  padding: 30px 5px 15px;
}

header #container {
  padding: 30px 5px 0px;
}
header #container #name {
  font-size: 2.35em;
  letter-spacing: 0.1em;
  font-family: "Lobster", "Slabo 27px", sans-serif;
  color: #FAFAF8;
  text-shadow: 0px -2px 1px #662100, 0px 1px 1px #993100;
}
header #container #nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  flex-wrap: wrap;
  width: 95%;
  margin: 25px auto 0;
  color: #FAFAF8;
  font-family: "Slabo 27px", sans-serif;
  font-weight: bold;
  text-shadow: 0px -2px 0px #993100;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-size: 1.2em;
  max-width: 500px;
}
header #container #nav a {
  padding: 0.3em;
}
header #container #nav #menu-button {
  display: none;
}
header #container ul {
  padding: 0;
}

h1 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1.75em;
  font-family: "Lobster", "Slabo 27px", sans-serif;
  letter-spacing: 0.05em;
}

h2 {
  margin-bottom: 15px;
}

#home {
  text-shadow: 0px -1px 1px black, 0px 1px 0px black;
  padding: 15px 10px 30px;
  line-height: 2em;
}
#home p {
  font-size: 1.2em;
  line-height: 1.2em;
  font-weight: bold;
  color: #FAFAF8;
}

#home, #portfolio, #music {
  border-bottom: solid 5px #262626;
}

.highlight-div {
  padding: 10px;
  margin: 20px auto;
  box-shadow: 0 0 10px 5px rgba(0, 128, 0, 0.75);
  max-width: 650px;
}

#about {
  color: #575757;
  text-shadow: 0px -1px 0px #ffffc7, 0px 1px 0px #ffffc7;
  padding: 20px 10px 30px;
}
#about h1 {
  font-size: 2.5em;
  margin-top: 20px;
}
#about .highlight {
  color: #222222;
  text-decoration: none;
}
#about .green {
  color: #007700;
  text-decoration: none;
}
#about p {
  font-size: 1.2em;
  font-weight: bold;
  margin: auto;
  margin-bottom: 10px;
  max-width: 700px;
}
#about img {
  max-width: 300px;
  width: 90%;
  border-radius: 50%;
  border: #ffffe0 solid 3px;
  margin-bottom: 20px;
}

#portfolio {
  padding: 20px 10px 30px;
  text-shadow: 0px -1px 1px black, 0px 1px 0px black;
}
#portfolio h1 {
  margin-top: 20px;
  font-size: 2.5em;
}

a, a:visited {
  text-decoration: none;
  color: #FAFAF8;
}

#grace-ingland {
  align-items: stretch;
}

#contact {
  font-family: "FontAwesome", sans-serif;
  color: #575757;
  text-shadow: 0px -1px 0px #ffffc7, 0px 1px 0px #ffffc7;
  padding: 30px 10px 40px;
}
#contact h1 {
  font-size: 2.5em;
  margin-top: 10px;
}
#contact .social-links {
  display: flex !important;
  justify-content: space-between;
  max-width: 480px;
  margin: auto;
  flex-wrap: wrap;
  align-items: center;
}
#contact li {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid #333333;
  border-radius: 50%;
  background: #000000 url(http://www.transparenttextures.com/patterns/binding-light.png) scroll center center;
  width: 50px;
  height: 50px;
  font-weight: normal;
  text-shadow: none;
  font-size: 1.75em;
  margin: 5px;
}

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 2.25em;
  align-items: center;
  text-shadow: 0px -2px 1px #993100, 0px 1px 0px #993100;
  font-size: 0.9em;
  padding: 10px 5px;
}
footer a {
  font-size: 1.05em;
}

@media all and (max-width: 360px) {
  #nav, .social-links {
    justify-content: center !important;
    text-align: center;
  }

  .item {
    flex-direction: column-reverse !important;
    width: auto;
    min-width: initial;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .img-container {
    margin-top: 20px;
  }
}
@media all and (max-width: 350px) {
  #divider3 {
    display: none;
  }
}
@media all and (max-width: 260px) {
  #divider3 {
    display: inline-block;
  }

  #divider2 {
    display: none;
  }
}
@media all and (min-width: 540px) {
  .img-container {
    width: 200px;
    height: 200px;
  }

  .item-text {
    padding-top: 60px;
    max-width: 200px;
  }

  #home h1 {
    font-size: 2.25em;
  }
}
@media all and (min-width: 720px) {
  .item {
    flex-direction: column-reverse !important;
    width: auto;
    min-width: initial;
    margin: 25px;
  }

  .items-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .img-container {
    margin-top: 20px;
  }

  .item-text {
    padding-top: 0px;
  }
}
@media all and (min-width: 780px) {
  header #container {
    display: flex;
    padding: 10px 20px 10px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 90%;
    max-width: 1000px;
  }
  header #container #name {
    font-size: 1.85em;
  }
  header #container #nav {
    display: flex;
    width: 400px;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    line-height: 1em;
    box-shadow: none;
  }

  #home h1 {
    font-size: 3em;
  }
}
@media all and (min-width: 1050px) {
  #about span.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  #about span.container img {
    flex-shrink: 0;
    height: 306px;
    width: 306px;
    margin-right: 50px;
  }
  #about span.container span.text-container {
    max-width: 600px;
  }
}